  
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eee;
    font-weight: 400;
    font-size: 2em;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    color: black;
}

#slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

text.temp-shadow {
    stroke: black;
    stroke-width: 2px;
    opacity: 1;
}

#content {
    display: flex;
}

.water {
  fill: #0077be;
}

.graticule {
    stroke: rgba(204, 204, 204, 0.60);
}