  
body {
    background-color: #0077BE;
    font-weight: 400;
    font-size: 2em;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    color: blue;
}

text.temp-shadow {
    stroke: black;
    stroke-width: 2px;
    opacity: 1;
}